<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym Simulation</title>
    <script src="https://cdn.socket.io/3.1.1/socket.io.min.js" integrity="sha384-gDaozqUvc4HTgo8iZjwth73C6dDDeOJsAgpxBcMpZYztUfjHXpzrpdrHRdVp8ySO" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <style>
        body{
            margin: 0px;
            margin-top: 70px;
            overflow: auto;
        }

        .membersCol {
            position: absolute;
            overflow-y: scroll;
            height: 90%;
        }
    </style>
</head>
<body>
    <header>
        {% include 'navbar.html' %}
    </header>
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-2">
                    <div class="container-fluid">
                        <div class="container-fluid">
                            <div class="row">
                                <h3>Members</h3>
                            </div>
                        </div>
                        <div class="container-fluid membersCol">
                            <div class="row">
                                <div class="overflow-auto">
                                    {% for member in context ['members'] %}
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-3">
                                            <div class="container-fluid">
                                            <div class="card" style="width: 30rem;">
                            
                                                <div class="card-body">
                                                    <div class="container-fluid">
                                                    <div class="row">
                                                        <h5 class="card-title">Member {{member.pid}}</h5>
                                                            </div>
                                                                <div class="container-fluid">
                                                                    <div class="row">
                                                                        <div class="col-md-4">
                                                                            <p class="card-text">Status:</p>
                                                                        </div>
                                                                        <div class="col-md-6 status">
                                                                            S
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-4">
                                                                        <p class="card-text">Progress:</p>
                                                                        </div>
                                                                        <div class="progress" id="member-{{member.pid}}">
                                                                            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="3.5"></div>
                                                                            <!-- w aria-valuemax=js se to przekazuj / socket -->
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    
                <div class="col-9">
                    <div class="container-fluid">
                        <row>
                            <h1>XD</h1>
                        </row>
                    </div>
                    
                </div>
            </div>
        </div>        
    </main>
    
    <script type="text/javascript" charset="utf-8">
        var socket = io();
        socket.on('connect', () => {
            socket.emit('connection', {data: 'I\'m connected!'});
        });
    </script>
    <script>
        if(document.getElementsByClassName)
        var dishesArray = Array.from(document.getElementsByClassName('dishes'))
        var statusArray = Array.from(document.getElementsByClassName('status'))
        var progressArray = Array.from(document.getElementsByClassName('progress'))
        
        socket.on('initialize', (data) => {
            window.times = Array(parseInt(data.data))
            window.times.fill(0)
            console.log(window.times)
            console.log(data.data)
            socket.emit('run');
        });
        </script>
    <script>
        
        function update(){

        };


        socket.on('update', (data) => {
            console.log(window.times)
            window.statusArray[data.pid].innerHTML = data.status
            window.dishesArray[data.pid].innerHTML = data.dishes
            window.forksArray[data.pid].innerHTML = data.lefts
            window.forksArray[data.right].innerHTML = data.rights
        });
        </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>