<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark custom-nav">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Gym Simulation</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
            <a class="nav-link" href="https://github.com/michu-dunat/multi-threaded-gym-simulation">Github</a>
            </li>
        </ul>
        </div>
    </div>
</nav>